
<h1>state list </h1>
<h3> <a href='/Zermelo/DURC_state'>Zermelo state Report</a></h3>
Create <a href='/DURC/state/create/'>new state</a><br>


{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_state_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_state_previous'>
			<a href='{{first_page_url}}' aria-controls='table_state' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_state' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_state' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_state' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_state' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<table id='table_state' class='table table-bordered table-hover table-responsive table-sm'>
<thead><tr>
<th scope='col'>#</th><th scope='col'>ssa_state_code</th>
<th scope='col'>short_state</th>
<th scope='col'>state_name</th>
<th scope='col'>state_ucase</th>
<th scope='col'>state_or_territory</th>
<th scope='col'>population</th>
<th scope='col'>is_known_good_state</th>

</tr></thead>
<tfoot><tr>
<th scope='col'>#</th><th scope='col'>ssa_state_code</th>
<th scope='col'>short_state</th>
<th scope='col'>state_name</th>
<th scope='col'>state_ucase</th>
<th scope='col'>state_or_territory</th>
<th scope='col'>population</th>
<th scope='col'>is_known_good_state</th>

</tr></tfoot>
<tbody>
  {{#data}}
    <tr>
	<th scope='row'><a href='/DURC/state/{{id}}/'> {{id}} </a></th>			<td>{{ssa_state_code}}</td>
			<td>{{short_state}}</td>
			<td>{{state_name}}</td>
			<td>{{state_ucase}}</td>
			<td>{{state_or_territory}}</td>
			<td>{{population}}</td>
			<td>{{is_known_good_state}}</td>

    </tr>
  {{/data}}

<tbody></table>



{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_state_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_state_previous'>
			<a href='{{first_page_url}}' aria-controls='table_state' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_state' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_state' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_state' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_state' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<script type='text/javascript'>
//we need a way to check to see if the page is loaded before we call DataTable()
//but we frequently do not have JQuery yet... it could be loaded at the bottom of the page...
//so we have a pure JS alternative to the ready() function..
var DURC_checkReadyState = setInterval(() => {
  if (document.readyState === 'complete') {
    clearInterval(DURC_checkReadyState);
    // document is ready
    $('#table_state').DataTable(
{
        'paging':   false,
        'info':     false
}
);
  }
}, 100);


</script>

