
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/healthdept' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/healthdept/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>healthdept</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_healthdept/'>Return to healthdept list</a> </li>
{{^is_new}}
<li> <a href='/DURC/healthdept/create'>Create new healthdept </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  >
    </div></div>
  <div class='form-group row {{healthdept_name_row_class}}'>
    <label for='healthdept_name' class='col-sm-4 col-form-label'>healthdept_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='healthdept_name' name='healthdept_name' placeholder='' value='{{healthdept_name}}'  required>
    </div></div>
  <div class='form-group row {{county_name_row_class}}'>
    <label for='county_name' class='col-sm-4 col-form-label'>county_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='county_name' name='county_name' placeholder='' value='{{county_name}}'  required>
    </div></div>
  <div class='form-group row {{population_row_class}}'>
    <label for='population' class='col-sm-4 col-form-label'>population</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='population' name='population' placeholder='' value='{{population}}'  required>
    </div></div>
  <div class='form-group row {{state_id_row_class}}'>
    <label for='state_id' class='col-sm-4 col-form-label'>state_id</label>
    <div class='col-sm-7'>
	Current id value: {{state_id}} (see below for lookup value)<br>
	<select class='select2_state_id form-control' id='state_id' name='state_id'  >
	<option value='{{state_id}}' selected='selected'>{{state_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_state_id').select2({
  ajax: {
    url: '/DURC/searchjson/state',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{fips_code_row_class}}'>
    <label for='fips_code' class='col-sm-4 col-form-label'>fips_code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='fips_code' name='fips_code' placeholder='' value='{{fips_code}}'  required>
    </div></div>
  <div class='form-group row {{healthdept_url_row_class}}'>
    <label for='healthdept_url' class='col-sm-4 col-form-label'>healthdept_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='healthdept_url' name='healthdept_url' placeholder='' value='{{healthdept_url}}'  required>
    </div></div>
  <div class='form-group row {{wikipedia_url_row_class}}'>
    <label for='wikipedia_url' class='col-sm-4 col-form-label'>wikipedia_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='wikipedia_url' name='wikipedia_url' placeholder='' value='{{wikipedia_url}}'  required>
    </div></div>
  <div class='form-group row {{county_url_row_class}}'>
    <label for='county_url' class='col-sm-4 col-form-label'>county_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='county_url' name='county_url' placeholder='' value='{{county_url}}'  required>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/healthdept/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='healthdept' class='do-soft-delete btn btn-outline-danger'>Hard Delete healthdept</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many healthdept_url ( <a href='/DURC/healthdept_url/'>see all</a> )
{{^healthdept_url}}
(no values)
{{/healthdept_url}}
  </div>
<div class='card-body'>

<table id='table_healthdept_url' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> url </th>
			<th> healthdept_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#healthdept_url}}
	<tr>
		{{#.}}
			<td><a href='/DURC/healthdept_url/{{id}}'>{{id}}</a></td>
			<td>{{url}}</td>
			<td>{{healthdept_id_DURClabel}} ({{healthdept_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/healthdept_url}}
</tbody>
</table>
</div></div> <!-- end healthdept_url card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    state ( <a href='/DURC/state/'>see all</a> )
{{^state}}
(no values)
{{/state}}
  </div>
<div class='card-body'>
<table id='table_state' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> ssa_state_code </th>
			<th> short_state </th>
			<th> state_name </th>
			<th> state_ucase </th>
			<th> state_or_territory </th>
			<th> population </th>
			<th> is_known_good_state </th>

</tr>
</thead>
<tbody>
{{#state}}
	<tr>
		{{#.}}
			<td><a href='/DURC/state/{{id}}'>{{id}}</a></td>
			<td>{{ssa_state_code}}</td>
			<td>{{short_state}}</td>
			<td>{{state_name}}</td>
			<td>{{state_ucase}}</td>
			<td>{{state_or_territory}}</td>
			<td>{{population}}</td>
			<td>{{is_known_good_state}}</td>
		
		{{/.}}
	</tr>
{{/state}}
</tbody>
</table>
</div></div> <!-- end state card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
